.custom-tax-badge.ant-ribbon.ant-ribbon-placement-start {
    display: flex !important;
    /* top: 50px; */
    padding: 19px;
    height: 30px !important;
    align-items: center !important;
  }
  .widgethead_space{
    margin-left: 25px;
  }
  .header_Style .ant-card-head-title{
    color: #262626;
    font-weight: 400;
    line-height: 1.2;
    font-size: 18px !important;
  }
  .map_default_size{
    height: 530px;
  }
  .userprofile_ml{
    margin-left: 25px !important;
    cursor: pointer;
  }
  .text_transform_none .ant-card-head-title{
    text-transform: none !important;
  }
  .gx-chart-neutral {
    color: orange;
}
.gx-chart-down .icon {
  transform: rotate(0deg) !important;
  display: inline-block;
}
.hide_legend_recharts .recharts-legend-item-text {
  visibility: hidden;
}
.hide_legend_recharts  .recharts-default-legend{
  visibility: hidden;
}
.footer_logo{
  width: 20px;
    height: 20px;
    margin: 0 auto;
}

.userimpPopover.gx-user-popover li {
  cursor: pointer;
  padding: 3px 15px;
  width: auto;
 
  /* display: flex; */
  /* justify-content: center; */
}
.userimpPopover.gx-user-popover{
  height: 250px;
  overflow: scroll;
}