.custom-tax-badge.ant-ribbon.ant-ribbon-placement-start {
  display: flex !important;
  /* top: 50px; */
  padding: 19px;
  height: 30px !important;
  align-items: center !important;
}
.widgethead_space {
  margin-left: 25px;
}
.header_Style .ant-card-head-title {
  color: #262626;
  font-weight: 400;
  line-height: 1.2;
  font-size: 18px !important;
}
.map_default_size {
  height: 530px;
}
.userprofile_ml {
  margin-left: 25px !important;
  cursor: pointer;
}
.text_transform_none .ant-card-head-title {
  text-transform: none !important;
}
.gx-chart-neutral {
  color: orange;
}
.gx-chart-down .icon {
  transform: rotate(0deg) !important;
  display: inline-block;
}
.hide_legend_recharts .recharts-legend-item-text {
  visibility: hidden;
}
.hide_legend_recharts .recharts-default-legend {
  visibility: hidden;
}
.footer_logo {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.cca2logo {
  display: block;
  margin: auto;
  transition: transform 0.5s ease-in-out;
}

.cca2logo:hover {
  transform: rotate(360deg);
}
.userimpPopover.gx-user-popover li {
  cursor: pointer;
  padding: 3px 15px;
  width: auto;

  /* display: flex; */
  /* justify-content: center; */
}
.userimpPopover.gx-user-popover {
  height: 250px;
  overflow: scroll;
}
.listening-gpt-input {
  background-color: #fff !important;
  border-radius: 5px;
  border-color: #000;
}
.gpt-input:hover {
  caret-color: #fff;
}
.listening-gpt-input:disabled:hover {
  background-color: #fff !important;
  border-radius: 5px;
}
.colorof_offmic {
  background-color: #fff !important;
}
.gpt_send_icon {
  margin-left: -5px;
  color: #ffffff !important;
  margin-top: 6px;
}
/* .gpt-send-msg:hover {
  background: #258392 !important;
} */
.chatgpt_switch .ant-switch {
  background-color: #807373 !important;
}
.chatgpt_switch .ant-switch-checked {
  background-color: #0d769d !important;
}
.customSyntaxStyleWhite {
  background-color: black;
  color: white;
  font-size: "14px";

  border-radius: "5px";
  font-family: "monospace";
}
.customSyntaxStyle {
  background-color: lightgray;
  font-size: "14px";

  border-radius: "5px";
  font-family: "monospace";
}
.Intervaltimeline .ant-modal-footer button:disabled:hover {
  background-color: darkgrey;
}
.gpt-modal .ant-modal-body {
  background: #ffffff;
  color: black;
}
.gpt-modal .ant-list-split .ant-list-item {
  border-bottom: none;
}
.gpt-modal .ant-modal-body {
  background: #f5f5f5;
  color: black;
}
.gpt-modal .ant-modal-footer {
  background: whitesmoke;
}

.gpt-modal .ant-modal-body {
  background: #ffffff;
  color: black;
}
span.empty-class-text {
  color: black;
  font-size: 16px;
  letter-spacing: 0.5px;
}
.gpt-radio-btn .ant-radio-wrapper > span {
  color: white;
  letter-spacing: 0.5px;
}
i.fad.fa-paper-plane.gpt-send-msg {
  color: #000 !important;
}
.gpt i.fad.fa-user {
  color: black;
}
.gpt .gpt-input {
  background: #939a9b !important;
  border-radius: 5px;
  font-weight: 400 !important;
  color: white !important;
}

.gpt .gpt-input:hover,
.gpt .gpt-input:focus,
.gpt .gpt-input:active {
  background: #939a9b !important;
  border-radius: 5px;
  font-weight: 400 !important;
  color: white !important;
}
.colorof_offmic {
  background-color: #fff !important;
}
.float-right {
  float: right;
}
.avatarsize {
  width: 40px !important;
  height: 40px !important;
  line-height: 22px !important;
  padding: 0px !important;
}
.gpt i.fad.fa-user {
  font-size: 20px;
  position: relative;
  top: 15px;
}
.gpt-send-msg {
  position: absolute !important;
  left: 42px !important;
  bottom: 8px !important;
  font-size: 20px !important;
  padding: -11px !important;
  border-radius: 100% !important;
  width: 40px !important;
  height: 40px !important;
  background-color: #267abe !important;
  color: #fff !important;
  border: none !important;
  /* box-shadow: black !important; */
  box-shadow: 1px -1px 15px 0px rgb(0 0 0 / 23%);
}
.audio_bg {
  bottom: 8px;
  font-size: 20px;
  padding: -11px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-top: 6px;
  background-color: #267abe;
  border: none;
  box-shadow: black;
  box-shadow: 1px -1px 15px 0px rgb(0 0 0 / 23%);
  /* -webkit-box-shadow: 1px -1px 15px 0px rgba(0, 0, 0, 0.75); */
  /* -moz-box-shadow: 1px -1px 15px 0px rgba(0, 0, 0, 0.75); */
}
.fad.fa-comments-alt {
  left: 40px !important;
}
.apexcharts-toolbar {
  visibility: hidden !important;
}
.apexcharts-legend {
  visibility: hidden !important;
}
.gx-table-responsive .ant-table {
  min-height: 0.01%;
  overflow-x: hidden !important;
  overflow-y: hidden;
}
.assistant_image {
  position: relative;
  margin-left: 25px;
}
.assistant_image::before {
  content: url("../assets/robot-solid.svg");
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  /* // top: -20px; */
  top: 50px;
  color: #267abe;
  left: -25px;
  margin-top: -30px;
}
.gx-layout-sider-dark .gx-layout-sider-header {
  background-color: #267abe !important;
}
.customSyntaxStyle {
  background-color: lightgray;
  font-size: 14px;
  color: #000;
  padding: 10px;
  border-radius: 12px;

  font-weight: 500;
  font-family: "inter", sans-serif;
  border-radius: "5px";
}
.customSyntaxStyleWhite {
  background-color: #f4f4f4;
  color: #000;
  font-size: 14px;
  font-family: "inter", sans-serif;
  border-radius: 12px;
  font-weight: 500;
  padding: 10px;
}
.listening-gpt-input {
  background-color: #fff !important;
  border-radius: 5px;
  border-color: #000;
}
.gpt-input:hover {
  caret-color: #fff;
}
.listening-gpt-input:disabled:hover {
  background-color: #fff !important;
  border-radius: 5px;
}
.colorof_offmic {
  background-color: #258392 !important;
}
.gpt_send_icon {
  margin-left: -5px;
  color: white;
  margin-top: 6px;
}
.gpt-send-msg:hover {
  background: #267abe !important;
}
.chatgpt_switch .ant-switch {
  background-color: #807373 !important;
}
.chatgpt_switch .ant-switch-checked {
  background-color: #0d769d !important;
}

.fas.fa-microphone.voice_text {
  color: #fff;
}
.ant-modal-footer .gpt {
  text-align: center !important;
}
.colorof_offmic {
  background-color: #258392 !important;
}
.gpt-clear:disabled {
  background-color: grey !important;
  color: #fff;
}
li.ant-list-item.message-user {
  margin-left: 60px;
}
.gpt-clear {
  background: #dc3545 !important;
  border: #dc3545;
  font-weight: 400;
}
.gpt-clear:hover,
.gpt-clear:focus,
.gpt-clear:active,
.gpt-clear.active {
  background: #ff4d4f;
  border: #dc3545;
  font-weight: 400;
}
.gpt-clear {
  background: #ec2538;
  border: red;
  color: white !important;
  font-weight: 500;
  border-radius: 5px;
}
.gpt-clear:hover,
.gpt-clear:focus,
.gpt-clear:active,
.gpt-clear.active {
  background: #ff4d4f;
  border: #ff4d4f;
}
body ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

body ::-webkit-scrollbar-thumb {
  background: #267abe;
  border-radius: 10px;
}
body.app.White ::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

body ::-webkit-scrollbar-track {
  background: white;
  border: 0.22rem solid transparent;
  background-clip: content-box;
}
.scroll-set-body {
  max-height: 90.5vh;
  min-height: 100%;
  overflow-y: auto;
  padding: 0px 15px 0px 15px;
}

.header-breadcrumb .scroll-set-body {
  max-height: 90.5vh;
  min-height: 100%;
  overflow-y: auto;
  padding: 0px 15px 0px 15px;
}
.header-logo-hide {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 40%;
  padding: 29px 29px;
  border: 0 !important;
  background-color: transparent;
  background-size: 40px !important;
  background-image: url(../assets/CCA3.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 1px solid #29363d;
  cursor: pointer;
  right: 8px;
}
